{% extends 'base.html' %}
{% load static %}
{% block title %}NITDA | Departments{% endblock %}

{% block content_block %}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Departments</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header ">
						<h4 class="card-title">
							{% with departments.count as total_departments %}
                               {{ total_departments }} Department{{ total_departments|pluralize }}
                            {% endwith %}
						</h4>
<!--						<p class="card-category">Users Table</p>-->
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-head-bg-success table-striped table-hover">
								<thead>
									<tr>
	<!--									<th scope="col">#</th>-->
										<th scope="col">Name</th>
										<th scope="col">Number of Programs</th>
										<th scope="col">Head</th>
									</tr>
								</thead>
								<tbody>
									{% for department in departments %}
										<tr>
	<!--										<td>-->
	<!--											{% for i in num_departments %}-->
	<!--												{{ forloop.counter }}-->
	<!--											{% endfor %}-->
	<!--										</td>-->
											<td>
												<b>
													<a href="{{ department.get_absolute_url }}">{{ department.name }}</a>
												</b>
											</td>
											<td>{{ department.programs.count }}</td>
											<td>Benjamin</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Departments</h4>
                        <p class="card-category">
                            Number of Programs Completed by each Department.
                        </p>
                    </div>
                    <div class="card-body">
                        {% autoescape off %}
                           {{ depts_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Statistics</h4>
                        <p class="card-category">
                        Number of participants by Gender</p>
                    </div>
                    <div class="card-body">
<!--                        <div id="monthlyChart" class="chart chart-pie"></div>-->
                        {% autoescape off %}
                            {{ gender_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>

        </div>
	</div>
</div>

{% endblock %}
