{% extends 'base.html' %}
{% load static %}
{% block title %}NITDA | {{ department.name }}{% endblock %}

{% block content_block %}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">{{ department.name }}</h4>
		<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Description</h4>
                    </div>
                    <div class="card-body">
                         <p class="card-category">
                             {{ department.description }}
                         </p>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header ">
						<h4 class="card-title">
                            {% with programs.count as total_programs %}
                               {{ total_programs }} Program{{ total_programs|pluralize }} Done under {{ department.name }}
                            {% endwith %}
                        </h4>
<!--						<p class="card-category">Users Table</p>-->
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-head-bg-success table-striped table-hover">
								<thead>
									<tr>
	<!--									<th scope="col">#</th>-->
										<th scope="col">Program</th>
										<th scope="col">Year</th>
										<th scope="col">Description</th>
									</tr>
								</thead>
								<tbody>
									{% for program in programs %}
										<tr>
											<td>
												<b>
													<a href="{{ program.get_absolute_url }}">{{ program.program }}</a>
												</b>
											</td>
											<td>{{ program.year }}</td>
											<td>{{ program.description|truncatewords:10 }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Programs by Year</h4>
                        <p class="card-category">
                            Number of Programs Completed each Year.
                        </p>
                    </div>
                    <div class="card-body">
                        {% autoescape off %}
                           {{ year_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}







{{ department }}
{% for program in department.programs.all %}
    {{ program.program }}
{% endfor %}

