{% extends 'base.html' %}
{% load static %}
{% block title %}NITDA | {{ program.program }}{% endblock %}
{% block style %}
<style>
    table {
            //overflow: hidden;
            overflow-y:scroll;
            height:500px;
            display: block;
            border-collapse: collapse
        }
        thead {
            background-color: #59d05d;
            color: #ffffff;
        }
        td, th {
            border 1px solid #dddddd;
            text-align: left;
            padding: 5px;
        }
        tr:nth-child(even) {
            background-color: #ebedf2;
        }
</style>
{% endblock %}


{% block content_block %}
<script>
<!--    document.getElementsByClassName('dataframe').classList.add('table');-->
<!--    let y = document.getElementsByTagName('table')[0];-->
<!--    y.className += 'table';-->
<!--    let x = document.getElementsByClassName('dataframe');-->
<!--    x.className += 'table'-->
<!--    console.log(y)-->
</script>
   <div class="content">
       <div class="container-fluid">
        <h4 class="page-title">{{ program.program }}</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-table"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Department</p>
                                    <h4 class="card-title">{{ program.department }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-calendar"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Year</p>
                                    <h4 class="card-title">{{ program.year }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-users"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Participants</p>
                                    <h4 class="card-title">{{ total_participants }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-3">-->
<!--                <div class="card card-stats card-primary">-->
<!--                    <div class="card-body ">-->
<!--                        <div class="row">-->
<!--                            <div class="col-5">-->
<!--                                <div class="icon-big text-center">-->
<!--                                    <i class="la la-check-circle"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-7 d-flex align-items-center">-->
<!--                                <div class="numbers">-->
<!--                                    <p class="card-category">Order</p>-->
<!--                                    <h4 class="card-title">576</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Description</h4>
                        <p class="card-category">
                            About {{ program.program }}
                            {{ href|safe }}
                        </p>
                    </div>
                    <div class="card-body">
                         <p class="card-category">
                             {{ program.description }}
                         </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Statistics</h4>
                        <p class="card-category">
                        Participants statistics</p>
                    </div>
                    <div class="card-body">
<!--                        <div id="monthlyChart" class="chart chart-pie"></div>-->
                        {% autoescape off %}
                            {{ gender_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Participants By State</h4>
                        <p class="card-category">
                            Number of participants from each state.
                        </p>
                    </div>
                    <div class="card-body">
                         {% autoescape off %}
                            {{ state_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Participants By LGA</h4>
                        <p class="card-category">
                            Number of participants from each local government.
                        </p>
                    </div>
                    <div class="card-body">
                         {% autoescape off %}
                            {{ lga_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Table
                            {{ href|safe }}

                        </div>
                    </div>
                    <div class="card-body">
<!--                        <div class="card-sub">-->
<!--                            .-->
<!--                        </div>-->
                        <div class="table-responsiv">
                            {{ table|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

{% block script %}
<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/chartist.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/ready.min.js' %}"></script>
<script src="{% static 'assets/js/demo.js' %}"></script>
{% endblock %}
<script>

let free_sellers = Math.round(60.0);
let starter_sellers = Math.round(20.0);
let premium_sellers = Math.round(20.0);

Chartist.Pie('#monthlyChart', {
	labels: [free_sellers+'% Free', starter_sellers+'% Strt', premium_sellers+'% Pre'],
	series: [free_sellers, starter_sellers, premium_sellers]
}, {
	plugins: [
	Chartist.plugins.tooltip()
	]
});
</script>
{% endblock %}
<table class="table table-bordered table-head-bg-primary mt-4">

                            </table>